<header class="site-header">
    <div class="site-logo"> {{ page.site_logo }} </div>
    <div class="menu"> {{ page.menu }} </div>
</header>
<div class="featured-top"> {{ page.featured_top }} </div>
<div class="content"> {{ page.content }} </div>
<div class="footer"> {{ page.footer }} </div>